<!---------------
    SIDE BAR
----------------->
<div class="nav-side-menu">
    <div class="brand">@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, null)</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#orders" class="collapsed">
                <a href="#">
                    <i class="fa fa-bar-chart fa-lg"></i> Orders <span class="arrow"></span>
                </a>
            </li>
            <ul class="sub-menu collapse" id="orders">
                <li>@Html.ActionLink("Sales Orders", "Index", "Home", new { area = "SalesOrders" }, null)</li>
                <li>@Html.ActionLink("Purchase Orders", "Index", "Home", new { area = "PurchaseOrders" }, null)</li>
            </ul>

            <li data-toggle="collapse" data-target="#sales" class="collapsed">
                <a href="#"><i class="fa  fa-eur fa-lg"></i> Sales <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="sales">
                <li>@Html.ActionLink("Sales Details", "Index", "Home", new { area = "SalesDetails" }, null)</li>
                <li>@Html.ActionLink("Sales By Product", "Index", "Home", new { area = "SalesProduct" }, null)</li>
                <li>@Html.ActionLink("Sales By Client", "Index", "Home", new { area = "SalesClient" }, null)</li>
            </ul>

            <li data-toggle="collapse" data-target="#clients" class="collapsed">
                <a href="#"><i class="fa fa-user fa-lg"></i> Clients <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="clients">
                <li>@Html.ActionLink("Clients Details", "Index", "Home", new { area = "Clients" }, null)</li>
            </ul>

            <li data-toggle="collapse" data-target="#suppliers" class="collapsed">
                <a href="#"><i class="fa fa-archive fa-lg"></i> Suppliers <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="suppliers">
                <li>@Html.ActionLink("Suppliers Details", "Index", "Home", new { area = "Suppliers" }, null)</li>
            </ul>

            <li data-toggle="collapse" data-target="#inventory" class="collapsed">
                <a href="#"><i class="fa fa-shopping-cart fa-lg"></i> Inventory<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="inventory">
                <li>@Html.ActionLink("Product Details", "Index", "Home", new { area = "ProductDetails" }, null)</li>
            </ul>

            <li data-toggle="collapse" data-target="#financial" class="collapsed">
                <a href="#"><i class="fa fa-line-chart fa-lg"></i> Financial Overview <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="financial">
                <li>Accounts Receivable</li>
                <li>Accounts Payable</li>
            </ul>
        </ul>
    </div>
    <div class="refresh">
        <button type="button" id="refresh-btn" onclick="refreshDatabase()">Refresh</button>
    </div>
</div>


<script>

    function refreshDatabase() {
        
        $.ajax({
            type: "PUT",
            url: "/api/state/update",
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function () {
                alert("Success!");
            }
        });

    }

</script>