@model List<FirstREST.Lib_Primavera.Model.Cliente>

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>


<table style="width:90%">
    <tr>
        <th>Client Code</th>
        <th>Name</th>
        <th>Total Sales YTD(€)</th>
    </tr>
    @foreach (var cliente in Model)
    {
        <tr>
            <td>@cliente.CodCliente</td>
            <td>@cliente.NomeCliente</td>
            <td>10</td>
        </tr>
    <tr style="border-bottom:1px solid #e6e6e6;">
        <td colspan="3">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#@cliente.NumContribuinte" style="width:30px; height:20px; background-color:gray; opacity: 0.5; font-size: 10px;padding-left:0;">+info</button>
            <div id="@cliente.NumContribuinte" class="collapse">
                <div class="row">
                    <div class="col-5">
                        <br />
                        <p>Código: @cliente.CodCliente</p>
                        <p>Nome: @cliente.NomeCliente</p>
                        <p>E-mail: @cliente.Email</p>
                        <p>Morada: @cliente.Morada</p>
                        <p>Número de Contribuinte: @cliente.NumContribuinte</p>
                        <h6>Total de Vendas: 10</h6>
                        <br />
                    </div>
                    <br />
                    <div class="col-5">
                        <img src="~/Images/avatar.jpg">
                        <br />
                    </div>
                </div>
            </div>
        </td>
    </tr>
    }
</table>

<div id="client-card" style="width:500px;height:800px;border:1px solid #000;">
    <p>Código: </p>
    <p>Nome: </p>
    <p>E-mail: </p>
    <p>Morada: </p>
    <p>Número de Contribuinte: </p>
    <h6>Total de Vendas: </h6>
    <img src="~/Images/avatar.jpg">
</div>






