@{
    ViewBag.Title = "GetProduct";
    var artigo = ViewBag.artigo[0];
}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-4 offset-lg-1 col-lg-3">

            <div class="row">
                <div class="card product-details-card">
                    <div class="card-block">
                        <h4 class="card-title">@artigo.ProductCode</h4><p></p>
                        <h6 class="card-subtitle mb-2">Group: @artigo.ProductGroup</h6><p></p>
                        <h6 class="card-text mb-2">Type: @artigo.ProductType</h6><p></p>
                        <h6 class="card-text mb-2 text-mute">Description: @artigo.ProductDescription</h6><p></p>
                        <h6 class="card-text mb-2">Stock: @artigo.ProductStock</h6><p></p>
                        <div class="product-total-profit">
                            TOTAL
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card product-details-card">
                    <div class="card-block">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            google.charts.load('current', { 'packages': ['corechart'] });
                            google.charts.setOnLoadCallback(drawChart);

                            function drawChart() {

                                var data = google.visualization.arrayToDataTable([
                                  ['Task', 'Hours per Day'],
                                  ['Work', 11],
                                  ['Eat', 2],
                                  ['Commute', 2],
                                  ['Watch TV', 2],
                                  ['Sleep', 7]
                                ]);

                                var options = {
                                    title: 'Best Clients'
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                                chart.draw(data, options);
                            }
                        </script>
                        <div id="piechart"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="button" class="product-details-btn">See Orders</button>
                <button type="button" class="product-details-btn">See Warehouse Distribution</button>
            </div>

        </div>

        <div class="col-md-8 col-lg-6 offset-lg-1">
            <div class="row">
                <div class="card product-details-card">
                    <div class="card-block">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            google.charts.load('current', { 'packages': ['corechart'] });
                            google.charts.setOnLoadCallback(drawChart);

                            function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                  ['Year', 'Sales'],
                                  ['2004', 1000],
                                  ['2005', 1170],
                                  ['2006', 660],
                                  ['2007', 1030]
                                ]);

                                var options = {
                                    title: 'Product Performance',
                                    curveType: 'function',
                                    legend: { position: 'bottom' }
                                };

                                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                                chart.draw(data, options);
                            }
                        </script>
                        <div id="curve_chart" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="table-get-product" class="table card product-details-card">
                    <div class="card-block">
                        <table style="width:100%;table-layout:fixed;text-align:center;">
                            <thead>
                                <tr style="border-bottom: 1px solid #e6e6e6;">
                                    <th style="text-align:center;">ClientCode</th>
                                    <th style="text-align:center;">Quantity</th>
                                    <th style="text-align:center;">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.encomendas)
                                {

                                    <tr>
                                        <td style="padding-right:0px;">@item.Entidade</td>
                                        <td style="padding-right:0px;">@item.TotalMerc</td>
                                        <td style="padding-right:0px;">@item.Data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>